* {
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 120%;
    background: gray !important;
}

.btn-border {
    border: 1px solid black !important;
    background: white !important;
}

table {
    background: white !important;
}

.error {
    color: salmon;
}


@media only screen and (min-width: 1024px) {

    /* Homepage */
    #homepageContainer {
        margin-top: 100px;
        border: 1px solid black;
        width: 40%;
    }

    #homepageText {
        padding-left: 13%;
        padding-right: 10%;
    }

    /* Register */
    #registerpageContainer {
        margin-top: 100px;
        border: 1px solid black;
        width: 15%;
    }

    /* Login */
    #inlogpageContainer {
        margin-top: 100px;
        border: 1px solid black;
        width: 15%;
    }

    /* Contact */
    #contactpageContainer {
        margin-top: 100px;
        border: 1px solid black;
        width: 15%;
    }
}

@media only screen and (max-width: 1023px) {

    /* Homepage */
    #homepageContainer {
        margin-top: 50px;
        border: 1px solid black;
    }

    #homepageText {
        padding-left: 16%;
        padding-right: 15%;
    }
}

/* Chatbox */
#chatboxContainer {
    margin-top: 10px;
}

#chatForm {
    border: 1px solid black !important;
    margin-block-end: 0em !important;
}